<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/header.ejs') %>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('../../partials/navbar.ejs') %>
      <%- include('../../partials/sidebar.ejs')%>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Halaman Data Disabilitas</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="breadcrumb-item"><a href="#">Components</a></div>
              <div class="breadcrumb-item">Table</div>
            </div>
          </div>

          <%- include('table_disabilities.ejs') %>
        </section>
      </div>
      <%- include('../../partials/footer.ejs') %>
    </div>
  </div>
  <%- include('../../partials/js.ejs') %>
  <!-- Modal -->
  <%- include('modal_delete.ejs') %>
  <%- include('modal_add.ejs') %>
  <%- include('modal_edit.ejs') %>
</body>

<script>
  $('#table-disabilitas').on('click', '.button-update', function () {
    let id = $(this).data('id');
    let nik = $(this).data('nik');
    let name = $(this).data('name');
    let place = $(this).data('place');
    let dateOfBirth = $(this).data('dateOfBirth');
    let address = $(this).data('address');
    let age = $(this).data('age');
    let district = $(this).data('district');
    //
    let village = $(this).data('village');
    let education = $(this).data('education');
    let parent = $(this).data('parent');
    let type = $(this).data('type');
    let reason = $(this).data('reason');
    let proposal = $(this).data('proposal');
    //ID section
    let village_id = $(this).data('village_id');
    let education_id = $(this).data('education_id');
    let type_id = $(this).data('type_id');
    let reason_id = $(this).data('reason_id');
    let proposal_id = $(this).data('proposal_id');
    $('#edit-disabilitas').modal('show');
    $('.id').val(id);
    $('.nik').val(nik);
    $('.name').val(name);
    $('.place').val(place);
    $('.dateOfBirth').val(dateOfBirth);
    $('.address').val(address);
    $('.age').val(age);
    $('.proposal').val(proposal);
    $('.parent').val(parent);
    let selectedVillage = document.getElementById("selectVillage");
    let selectEducation = document.getElementById("selectEducation");
    let selectDisabilityType = document.getElementById("selectDisabilityType");
    let selectReason = document.getElementById("selectReason");
    selectedVillage.text = village;
    selectEducation.text = education;
    selectDisabilityType.text = type;
    selectReason.text = reason;
    //ID
    selectedVillage.value = village_id;
    selectEducation.value = education_id;
    selectDisabilityType.value = type_id;
    selectReason.value = reason_id;
  });
  $('#table-disabilitas').on('click', '.button-delete', function () {
    let id = $(this).data('id');
    $('#delete-disabilitas').modal('show');
    $('.id').val(id);

  });

  //VALIDATION
  const name = document.getElementById('name');
  const nik = document.getElementById('nik');
  const placeOfBirth = document.getElementById('placeOfBirth');
  const dateOfbirth = document.getElementById('dateOfbirth');
  const address = document.getElementById('address');
  const village = document.getElementById('village');
  const education = document.getElementById('education');
  const parent = document.getElementById('parent');
  const disabilityType = document.getElementById('disabilityType');
  const reason = document.getElementById('reason');
  const proposal = document.getElementById('proposal');

  function validateName() {
    if (checkIfEmpty(name)) return;
  }
  function validateNIK() {
    if (checkIfEmpty(nik)) return;
    if (nik.value.length < 16) {
      setInvalid(nik, "NIK kurang dari 16 digit");
    }
    if (nik.value.length > 16) {
      setInvalid(nik, "NIK lebih dari 16 digit");
    }
    return true;
  }
  function validatePlace() {
    if (checkIfEmpty(placeOfBirth)) return;
  }
  function validateDate() {
    if (checkIfEmpty(dateOfbirth)) return;
  }
  function validateAddress() {
    if (checkIfEmpty(address)) return;
  }

  function validateVillage() {
    if (checkIfEmpty(village)) return;
  }
  function validateEducation() {
    if (checkIfEmpty(education)) return;
  }
  function validateParent() {
    if (checkIfEmpty(parent)) return;
  }
  function validateType() {
    if (checkIfEmpty(disabilityType)) return;
  }
  function validateReason() {
    if (checkIfEmpty(reason)) return;
  }
  function validateProposal() {
    if (checkIfEmpty(proposal)) return;
  }


  // Validation colors
  const green = '#4CAF50';
  const red = '#F44336';
  function checkIfEmpty(field) {
    if (isEmpty(field.value.trim())) {
      // set field invalid
      setInvalid(field, `Kolom ini tidak boleh kosong`);
      return true;
    } else {
      // set field valid
      setValid(field);
      return false;
    }
  }
  function isEmpty(value) {
    if (value === '') return true;
    return false;
  }
  function setInvalid(field, message) {
    field.className = 'form-control is-invalid';
    field.nextElementSibling.innerHTML = message;
    field.nextElementSibling.style.color = red;
  }
  function setValid(field) {
    field.className = 'form-control is-valid';
    field.nextElementSibling.innerHTML = '';
    field.nextElementSibling.style.color = green;
  }
</script>

</html>