<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/header.ejs') %>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('../../partials/navbar.ejs') %>
      <%- include('../../partials/sidebar.ejs')%>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Halaman Data Lansia</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="breadcrumb-item"><a href="#">Components</a></div>
              <div class="breadcrumb-item">Table</div>
            </div>
          </div>

          <%- include('table_lansia.ejs') %>
        </section>
      </div>
      <%- include('../../partials/footer.ejs') %>
    </div>
  </div>
  <%- include('../../partials/js.ejs') %>
  <!-- Modal -->
  <%- include('modal_delete.ejs') %>
  <%- include('modal_add.ejs') %>
  <%- include('modal_edit.ejs') %>

</body>

<script>
  $('#table-lansia').on('click', '.button-update', function () {
    let id = $(this).data('id');
    let nik = $(this).data('nik');
    let name = $(this).data('name');
    let place = $(this).data('place');
    let dateOfBirth = $(this).data('dateOfBirth');
    let address = $(this).data('address');
    let age = $(this).data('age');
    let villageid = $(this).data('villageid');
    let kecamatanId = $(this).data('kecamatanId');
    let village = $(this).data('village');
    let kecamatan = $(this).data('kecamatan');
    $('#edit-lansia').modal('show');
    $('.id').val(id);
    $('.nik').val(nik);
    $('.name').val(name);
    $('.place').val(place);
    $('.dateOfbirth').val(dateOfBirth);
    $('.address').val(address);
    $('.age').val(age);
    // $('.villageid').val(villageid);
    // $('.kecamatanId').val(kecamatanId);
    let selectedVillage = document.getElementById("selectVillage");
    let selectedSubDistrict = document.getElementById("selectSubDistrict");
    selectedVillage.text = village;
    selectedVillage.value = villageid;
    selectedSubDistrict.text = kecamatan;
    selectedSubDistrict.value = kecamatanId;
  }),
    $('#table-lansia').on('click', '.button-delete', function () {
      let id = $(this).data('id');
      $('#delete-lansia').modal('show');
      $('.id').val(id);
    });

  async function calculateAge(usia, tanggal) {
    let year = document.getElementById(tanggal).value;
    let split = await year.split("-");
    alert(year);
    let currentYear = await new Date().getFullYear();
    let age = await currentYear - split[0];
    // let inputAge = await document.getElementById(usia);
    $('.age').val(age);
    // inputAge.value = age;
    // alert(age);

  }

  const name = document.getElementById('name');
  const nik = document.getElementById('nik');
  const placeOfBirth = document.getElementById('placeOfBirth');
  const dateOfbirth = document.getElementById('dateOfbirth');
  const address = document.getElementById('address');
  const village = document.getElementById('village');

  function validateName() {
    if (checkIfEmpty(name)) return;
  }
  function validateNIK() {
    if (checkIfEmpty(nik)) return;
    if (nik.value.length < 16) {
      setInvalid(nik, "NIK kurang dari 16 digit");
    }
    if (nik.value.length > 16) {
      setInvalid(nik, "NIK lebih dari 16 digit");
    }
    return true;
  }
  function validatePlace() {
    if (checkIfEmpty(placeOfBirth)) return;
  }
  function validateDate() {
    if (checkIfEmpty(dateOfbirth)) return;
  }
  function validateAddress() {
    if (checkIfEmpty(address)) return;
  }

  function validateVillage() {
    if (checkIfEmpty(village)) return;
  }


  // Validation colors
  const green = '#4CAF50';
  const red = '#F44336';
  function checkIfEmpty(field) {
    if (isEmpty(field.value.trim())) {
      // set field invalid
      setInvalid(field, `Kolom ini tidak boleh kosong`);
      return true;
    } else {
      // set field valid
      setValid(field);
      return false;
    }
  }
  function isEmpty(value) {
    if (value === '') return true;
    return false;
  }
  function setInvalid(field, message) {
    field.className = 'form-control is-invalid';
    field.nextElementSibling.innerHTML = message;
    field.nextElementSibling.style.color = red;
  }
  function setValid(field) {
    field.className = 'form-control is-valid';
    field.nextElementSibling.innerHTML = '';
    field.nextElementSibling.style.color = green;
  }

</script>

</html>